@media (min-width: 1200px) {
  * {
    font-family: "NanumSquare";
  }
  /* visual */
  #visual {
    width: 100%;
    margin-bottom: 70px;
    margin-top:70px;
  }
  #visual img {
    width: 100%;
    object-fit: cover;
  }
  /* nav2 */
  #nav2 {
    width: 100%;
    margin: 40px 0px 20px;
  }
  .navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;

    font-size: 20px;
  }
  .navbar strong {
    font-size: 28px;
    font-family: "NanumSquareExtraBold";
  }
  .undergray {
    border-bottom: 4px solid #ccc;
    padding: 0px 50px 10px 0px;
  }
  .gnb {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 16px;
  }

  /* container */

  /* con1 */
  .con1 {
    width: 100%;
    height: 750px;
    display: flex;
    position: relative;
  }
  .coblue {
    width: calc(100% / 2);
    background-color: #113640;
    color: white;

    box-sizing: border-box;
    padding: 40px;
  }
  .coblue a {
    color: white;
    font-family: "NanumSquareBold";
  }
  .titleNew {
    margin: 40px 0px 0px 30px;
  }
  .titleBest {
    margin-left: 150px;
  }
  .pdmenu {
    display: flex;
    flex-direction: column;
  }
  .pdmenu1 {
    margin: 100px 0px;
  }
  .pdmenu li {
    font-size: 20px;
    margin: 16px 0 16px 80px;
  }
  .con1 h2 {
    font-size: 100px;
    font-family: "NanumSquareExtraBold";
    letter-spacing: -3px;
    line-height: 100px;
  }
  .cogray h2 {
    font-size: 110px;
  }
  .cogray {
    width: calc(100% / 2);
    background-color: #f0f0ee;
    color: #113640;
    text-align: right;

    box-sizing: border-box;
    padding: 40px;
  }
  .cogray h2 {
    margin-right: 40px;
  }
  .pdmenu2 {
    margin: 200px 40px 100px 0px;
  }
  .cogray a {
    color: #113640;
    font-family: "NanumSquareExtraBold";
  }
  .con1img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .con1img img {
    width: 450px;
  }

  /* con2 */
  .con2 {
    width: 100%;
    height: 650px;
    background-color: #5e605f;
    margin: 100px 0px;
    position: relative;
    overflow: hidden;

    background-image: url(/goods/img/common_back.png),
      url(/goods/img/bgflower2.png);
    background-repeat: no-repeat;
    background-size: 500px, 380px;
    background-position: -50px 320px, 110% -90%;
  }
  .pdimg {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    right: -80px;
    z-index: 1;
  }

  .pdimg img {
    width: 280px;
    height: 390px;
    object-fit: cover;
  }
  .outline {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    right: -110px;
  }
  .outline li {
    width: 280px;
    height: 390px;
    border: 1px solid white;
  }
  .con2text {
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
    left: 20px;
  }
  .con2text {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .con2txt {
    animation-name: flow;
    animation: flow 50s linear infinite;
    transform: translateY(500%);
  }

  @keyframes flow {
    0% {
      transform: translateY(8000px);
    }
    100% {
      transform: translateY(-200%);
    }
  }

  .hoverB {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    right: -80px;
    z-index: 10;

    text-align: center;
    line-height: 390px;
  }
  .hoverB a {
    color: white;
    font-size: 20px;
  }
  .hover1:hover {
    opacity: 0.6;
  }
  .hover2:hover {
    opacity: 0.6;
  }
  .hover3:hover {
    opacity: 0.6;
  }
  .hover4:hover {
    opacity: 0.6;
  }
  .hoverB li {
    width: 280px;
    height: 390px;
    background-color: black;
    opacity: 0;
  }

  /* con3 */
  .con3 {
    width: 100%;
    height: 600px;
    background-color: #eee;
    padding-left: 250px;
    position: relative;
    overflow: hidden;
  }
  .con3 h3 {
    color: #3d5960;
    font-size: 25px;
    font-family: "NanumSquareExtraBold";
    padding-top: 120px;
    letter-spacing: 1px;
  }
  .con3 h2 {
    color: #3d5960;
    font-family: "NanumSquareExtraBold";
    font-size: 40px;
    margin: 30px 0px 70px;
    line-height: 55px;
    letter-spacing: 2px;
  }
  .con3 p {
    line-height: 25px;
    letter-spacing: 1px;
  }
  .moreB {
    width: 120px;
    margin: 40px 0px 0px 355px;
    text-align: center;
    padding: 5px 1px;
    border-radius: 15px;
    color: white;
    background-color: #95acb2;
  }
  .con3Big {
    width: 430px;
    height: 430px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -50%);
    z-index: 1;
  }
  .lineC {
    width: 650px;
    height: 650px;
    border-radius: 100%;
    border: 1px solid #3d5960;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, -50%);
  }

  /* con4 */
  .con4 {
    width: 1200px;
    height: 400px;
    background-color: #ccc;
    margin: 100px auto;
    display: flex;
  }
  .con4 li {
    width: calc(100% / 2);
    height: 100%;
  }
  .con4 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .con4 h2 {
    margin: 85px 0px 35px;
    font-weight: border;
    color: #113640;
  }
  .con4 p {
    margin-top: -5px;
    margin-bottom: 25px;
    line-height: 25px;
    color: #5e605f;
  }
  .loca {
    margin: 10px 0px 25px;
  }
  .locabutton {
    width: 100px;
    font-size: 14px;
    padding: 6px 4px;
    border: 1px solid black;
    text-align: center;
  }
  .locabutton a {
    padding: 6px 11px;
    font-weight: 600;
  }
  .locatxt {
    margin-left: 60px;
  }
}
