/* 기본 폰트 설정(전체 통일할지는 논의 필요) */
section h2{
    width:1200px;
    margin:20px auto;
    font-size:40px;
    font-family: '국립박물관문화재단클래식B';
}
section a{
    width:100%;
    height:100%;
    display:block;
}

/* ========= PC 및 기본 홈페이지 설정 ========= */
/* ---------비주얼--------- */
#visual{
    width:100%;
    height:400px;
    margin-top:70px;
    background-image:url(../img/common_visual.png);
    background-position:bottom;
    background-repeat:no-repeat;
    background-size:cover;
}
#visual h2{
    width:100%;
    line-height:400px;
    box-sizing:border-box;
    font-size:75px;
    text-align:center;
    color:#eee;
}
/* ---------컨테이너--------- */
/* (컨테이너1) 층별 안내 */
#floorInfo{
    width:100%;
    height:300px;
    border-bottom-right-radius:150px;
    background-color:#396a78;
    position:relative;
}
#floorInfo > div{
    width:1200px;
    margin:0px auto;
}
.link{
    position:absolute;
    bottom:-75px;
}
.link h2{
    width:180px; 
    height:180px;
    margin:0;
    border-radius:50%;
    background-color:#333;
    font-family:'NanumSquare';
    color:#eee;
    text-align:center;
    line-height:180px;
}
.link h2 a{
    color:#eee;
}
.convenient{
    height:250px;
    padding-top:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position:relative;
    color:#eee;
}
.convenient > div{
    width:calc(100% - 550px);
}
.convenient h3{
    margin-bottom:15px;
    font-size:30px;
    text-align:left
}
.convenient_icon{
    width:100%;
    margin-top:30px;
    display:flex;
    justify-content: end;
    gap:20px;
    font-size:60px;
}
.convenient_icon a{
    color:#eee;
}
.convenient_icon li:hover a{
    color:#384447;
    transition:0.5s;
}
.convenient_img{
    width:400px;
    position:absolute;
    right:0px;
    bottom:-30px;
    box-shadow:0px 0px 20px #222;
}
.convenient_img li, .convenient_img img{
    width:100%;
}
.convenient_img li:nth-child(-n+4) {display:none;}
/* (컨테이너2) 전시실 안내 */
#roomAnnounce h2{
    margin-top:100px;
}
#roomAnnounce ul{
    width:750px;
    margin:100px auto;
    display:flex;
    flex-direction:center;
    justify-content:center; 
    align-items:center;
    gap:200px;
    position:relative;
}
#roomAnnounce li{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color:#888;
    font-size:25px;
    text-align:center;
    line-height:250px;
    background-repeat:no-repeat;
    background-position: right;
    background-size:cover;
}
#roomAnnounce li a{
    border-radius:50%;
    color:#eee;
    font-family: 'NanumSquareLight';
    font-weight:lighter;
}
#roomAnnounce li:nth-child(2){
    width:300px;
    height:300px;
    background-image:url(/img/permanent_room_2.jpg);
    font-size:30px;
    line-height:300px;
    position:absolute;
    z-index:100;
}
#roomAnnounce li:nth-child(2) a{
    border-radius:50%;
    color:#333;
    font-family: 'NanumSquare';
    font-weight:bold;
}

/* (컨테이너3, 4) 공통 */
.highlight{
    font-size:200%;
    font-family: 'NanumSquareBold';
}
/* (컨테이너3)전시실 소개 */
#roomIntro{
    width:1200px;
    margin:0px auto;
    height:800px;
    position:relative;
    background-image:url(../img/common_back.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: left center;
}
#roomIntro ul{
    width:700px;
}
/* 비디오 */
.roomintro_vid iframe{
    width:700px;
    height:394px;
}
.roomintro_vid li:first-child, .roomintro_vid li:last-child{
    display:none;
}
.roomintro_txt{
    padding:60px;
    border-radius:0 80px;
    box-sizing: border-box;
    position:absolute;
    top:460px;
    right:0;
    background-color:#578997;
    color:#eee;
}
/* 설명글 */
.roomintro_txt li{
    line-height:30px;
}
.roomintro_txt li:first-child, .roomintro_txt li:last-child{
    display:none;
}
/* (컨테이너4)소장유물 */
#collectionRelics h2{
    width:1200px;
    margin:50px auto 300px;
}
.relics_wrap{
    width:100%;
    padding:60px 0px;
    border-radius:150px 0;
    box-sizing:border-box;
    position:relative;
    background-color:#ccc;
    line-height:30px;
}
.relics_intro{
    width:1200px;
    margin:0px auto;
    position:absolute;
    top:-280px;
    left:50%;
    transform:translateX(-50%);
}
.relics_intro_name{
    width:80%;
    margin:0px 5px 0px auto;
    display:flex;
    justify-content:space-around;
    font-size:25px;
}
.relics_intro_name li{
    display:flex;
    position:relative;
}
/* 선택시 나타나는 도형 */
.relics_intro_name div{
    width:70px;
    height:70px;
    border-radius:50%;
    position:absolute;
    left:-25px;
    top:-20px;
    background-color:#59848f92;
    z-index:-10;
}
.relics_intro_name li:nth-child(2), .relics_intro_name li:last-child{
    opacity: 0;
}
.relics_intro_img{
    width:800px;
    margin:0px auto;
    display:flex;
    justify-content:center;
    gap:50px;
}
.relics_intro_img li{width:calc(100%/3)}
.relics_intro_img img{width:100%;}
.relics_wrap p{
    width:1100px;
    margin:0px auto;
}
.prehis_2, .prehis_3{
    display:none;
}
.more{
    width:150px;
    height:150px;
    position:absolute;
    right:50px;
    bottom:-75px;
    line-height:150px;
    text-align:center;
}
.more a{
    border-radius:50%;
    background-color:#555;
    font-size:100px;
    font-family: 'NanumSquareLight';
    color:#eee;
}


/* ========= (미디어 쿼리)태블릿 ========= */
@media(max-width:1200px){
    section h2{
        width:80%;
        margin:0px auto;
        font-size:30px;
    }
    /* (컨테이너1) 층별 안내 */
    #floorInfo{
        border-bottom-right-radius:70px;
    }  
    #floorInfo > div{
        width:80%;
        margin:0px auto;
    }
    .link{
        bottom:-60px;
    }
    .link h2{
        width:120px; 
        height:120px;
        line-height:120px;
    }
    .convenient{
        height:250px;
    }
    .convenient > div{
        width:45%;
    }
    .convenient_icon{
        font-size:35px;
    }
    .convenient_img{
        width:45%;
        bottom:-10%;        
    }
    /* (컨테이너2) 전시실 안내 */
    #roomAnnounce h2{
        margin-top:100px;
    }
    #roomAnnounce ul{
        display:flex;
        flex-direction:center;
        justify-content:center; 
        align-items:center;
        gap:160px;
        position:relative;
    }
    #roomAnnounce li{
        width:200px;
        height:200px;
        border-radius:50%;
        background-color:#888;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-size:20px;
    }
    #roomAnnounce li:nth-child(2){
        width:250px;
        height:250px;
        font-size:25px;
    }
    /* (컨테이너3)전시실 소개 */
    #roomIntro{
        width:100%;
        height:auto;
        position:relative;
        background-color:#578997;
        border-radius:0px 70px;
        background-size:400px;
        background-position: center center;
    }
    #roomIntro h2{
        padding:30px 0px;
    }
    .roomintro_wrap{
        width:80%;
        margin:0px auto;
    }
    #roomIntro ul{
        width:100%;
    }
    /* 비디오 */
    .roomintro_vid{
        width:50%;
        height:300px;
    }
    .roomintro_vid iframe{
        width:100%;
        height:300px;
    }
    .roomintro_vid li:first-child, .roomintro_vid li:last-child{
        display:none;
    }
    /* 설명글 */
    .roomintro_txt{
        width:100%;
        padding:30px 0 50px;
        position:static;
        background-color:transparent;
        font-size:80%;
    }
    /* (컨테이너4)소장 유물 */
    #collectionRelics h2{
        width:80%;
        margin:50px auto 300px;
    }
    .relics_wrap{
        width:100%;
        padding:60px 0px;
        border-radius:70px 0px;
    }
    .relics_intro{
        width:80%;
        margin:0px auto;
        position:absolute;
        top:-240px;
    }
    .relics_intro_name{
        font-size:120%;
    }
    .relics_intro_name li{
        width:calc(100%/3);
        display:flex;
        position:relative;
    }
    /* 선택시 나타나는 도형 */
    .relics_intro_name div{
        width:50px;
        height:50px;
        left:-20px;
        top:-10px;
    }
    .relics_intro_name li:nth-child(2), .relics_intro_name li:last-child{
        opacity: 0;
    }
    .relics_intro_img{
        width:80%;
    }
    .relics_intro_img li{width:calc(100%/3)}
    .relics_intro_img img{width:100%;}
    .relics_wrap p{
        width:80%;
        margin:0px auto;
        font-size:80%;
        line-height:auto;
    }
    .prehis_2, .prehis_3{
        display:none;
    }
    .more{
        width:125px;
        height:125px;
        position:absolute;
        right:50px;
        bottom:-75px;
        line-height:125px;
        text-align:center;
    }
    .more a{
        border-radius:50%;
        background-color:#555;
        font-size:100px;
        font-family: 'NanumSquareLight';
        color:#eee;
    }
}
/* ========= (미디어 쿼리)모바일 ========= */
@media(max-width:800px){
    /* (컨테이너1) 편의시설 안내 */
    #floorInfo{
        height:auto;
    }
    .convenient{
        width:100%;
        padding-bottom:30px;
        height:auto;
        display:block;
    }
    .convenient > div{
        width:100%;
        display:block;
    }
    .convenient_txt{
        width:100%;
    }
    .link{
        display:none;
    }
    .convenient_img{
        background-color: #f4eee2;
        margin-top:20px;
        width:70%;
        position:relative;
    }
    /* (컨테이너2)전시실 안내 */
    #roomAnnounce{
        width:100%;
    }
    #roomAnnounce ul{
        width:100%;
        gap:100px;
    }
    #roomAnnounce li{
        width:100px;
        height:100px;
        border-radius:50%;
        font-size:17px;
    }
    #roomAnnounce li:nth-child(2){
        width:150px;
        height:150px;
        font-size:25px;
    }
    /* (컨테이너3) */
    #roomIntro{
        background-size:300px;
    
    }
    /* (컨테이너4)소장 유물 */
    #collectionRelics h2{
        margin:50px auto 150px;
    }
    .relics_intro{
        top:-140px;
    }
    .relics_intro_name{
        width:90%;
        display:flex;
        font-size:100%;
    }
    .relics_intro_detail{
        display:none;
    }
    /* 선택시 나타나는 도형 */
    .relics_intro_name div{
        width:40px;
        height:40px;
        top:0px;
        left:-20px;
    }
    .more{
        width:100px;
        height:100px;
        bottom:-50px;
        line-height:100px;
        text-align:center;
    }
    .more a{
        border-radius:50%;
        background-color:#555;
        font-size:75px;
        font-family: 'NanumSquareLight';
        color:#eee;
    }
}